<div class="p-5 mb-4 bg-light rounded-3 text-center">
   <div class="container-fluid py-5 text-center">
      <h1 class="display-3 fw-bold">{{ title }}</h1>
      <p class="fs-4 text-center">Jot down your ideas for your next YouTube videos.</p>
      <button class="btn btn-dark btn-lg" type="button" href="/ideas/add">Add Video Idea</button>
   </div>
</div>